@import "tailwindcss";
@import "tw-animate-css"; 

@theme {

  --font-family-sans: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  
  --color-brutal-pink: #FE90E8;
   /* --color-brutal-pink: #ff00ff; */
  --color-brutal-blue: #C0F7FE;
  /* --color-brutal-blue: #00ffff; */
  --color-brutal-lilac: #b066ff;

  --shadow-brutal: 8px 8px 0px 0px rgba(0, 0, 0, 1);
}


:root {
  font-family: var(--font-family-sans);
  background-color: #f3f4f6; 
  color: #000000;
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
  display: block;
  min-height: 100vh;
  width: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


@keyframes loading {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(200%); }
}
